body {
    direction: rtl;
    margin-top: 2%;
}

#prev_test{
    width: 100%;
    resize: none;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  color: black;
  text-align: center;
}

th {
  text-align: right;
}

.form-error {
  color: red;
}
.input-error {
  box-shadow: 0 0 5px red;
}

.table-fit{
    width: 1px;
}

back-arrow {
    text-align: unset;
}
